<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    
    <link rel="stylesheet" href="style.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-resource.js"></script>

    <script src="script.js"></script>
</head>
<body>

<div class="container" ng-app="Timetable" ng-controller="FilterController">
    <div class="columns">
        <div class="column col-4">
            <label>Структурний підрозділ</label>
            <select class="faculty_id" style="width: 100%;">
                <option ng-repeat="item in faculty_idItems" value="{{ item.id }}">{{ item.text }}</option>
            </select>
        </div>
        <div class="column col-4">
            <label>Освітній ступінь</label>
            <select class="okr" style="width: 100%;">
                <option ng-repeat="item in okrItems" value="{{ item.id }}">{{ item.text }}</option>
            </select>
        </div>
        <div class="column col-4">
            <label>Розклад/Спеціальність</label>
            <select class="speciality" style="width: 100%;">
                <option ng-repeat="item in specialityItems" value="{{ item.id }}">{{ item.text }}</option>
            </select>
        </div>
        <div class="column col-4">
            <label>Форма навчання</label>
            <select class="education_form_id" style="width: 100%;">
                <option ng-repeat="item in education_form_idItems" value="{{ item.id }}">{{ item.text }}</option>
            </select>
        </div>
        <div class="column col-4">
            <label>Курс</label>
            <select class="course" style="width: 100%;">
                <option ng-repeat="item in courseItems" value="{{ item.id }}">{{ item.text }}</option>
            </select>
        </div>
        <div class="column col-4">
            <label>Група</label>
            <select class="group" style="width: 100%;">
                <option ng-repeat="item in groupItems" value="{{ item.id }}">{{ item.text }}</option>
            </select>
        </div>

        <div class="column col-4">
            <br>
            <div class="btn btn-success">Пошук</div>
        </div>
    </div>
    <div class="">
        <div class="columns" ng-repeat="(key, value) in days" id="{{ value }}">
            <h3 class="column col-12">{{ value }}</h3>
            <div ng-repeat="(number, data) in days_data[key]" class="column col-2">
                <div class="card" ng-repeat="(id, lesson) in data">
                    <div class="card-header">
                        <b>{{ number }} пара</b> <i class="icon icon-check"></i> {{ lesson.time }}
                        <h4>{{ lesson.subject }}</h4>
                    </div>

                    <div class="card-body">
                        <p class="text-muted">{{ lesson.works_type }}</p>
                        <i class="icon icon-people"></i> {{ lesson.groups }}<br>
                        <i class="icon icon-people"></i> {{ lesson.subgroups }}<br>
                        <i class="icon icon-check"></i> {{ lesson.form_control }}<br>
                        <i class="icon icon-menu"></i> {{ lesson.teacher }}<br>
                        <a href="{{ lesson.url }}" target="_blank"><i class="icon icon-link"></i> Посилання</a><br>
                        {{ lesson.comment }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
